/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p.error-message {
    color: #d9534f;
    margin: 10px 0;
    font-size: 14px;
}

input[type="tel"] {
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #25D366;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1ebc5d;
}

.hidden {
    display: none;
}

select {
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .logo {
        width: 80px;
    }

    h1 {
        font-size: 20px;
    }

    input[type="tel"], select {
        width: calc(100% - 18px); /* Adjust width for smaller screens */
    }

    button {
        font-size: 14px;
    }
}
